<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Validation Example</title>

    <style>
            .warning{
                width:30px;
                height:25px;
            }
    </style>

</head>
<body>

<h2>회원가입</h2>

<form th:action="@{/user}" th:object="${user}" method="POST">

    <!-- 1 -->
    <span>이름</span>
    <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'error'" />
    <div th:each="msg : ${#fields.errors('name')}">
        <p th:text="${msg}"></p>
    </div>
    <br/>

    <!-- 2 -->
    <span>이메일</span>
    <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'error'" />
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <br/>

    <!-- 3 -->
    <span>비밀번호</span>
    <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'" />
    <p th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></p>
    <br/>

    <input type="submit" value="제출" />
</form>

</body>